
form {border: 1px black solid;
    width: 750px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
    }
    
    input {
        width: 100%;
        height: 30px;
        font-size: 14px;
    }

    form label {display:block;
        text-align: left;}

        .submit {
            width: 25%;
        }



        input:invalid{
            border-color: #900;
            background-color: #FDD;
          }
          
          input:focus:invalid {
            outline: none;
          }

          .error {
            width  : 100%;
            padding: 0;
          
            font-size: 80%;
            color: white;
            background-color: #900;
            border-radius: 0 0 5px 5px;
          
            box-sizing: border-box;
          }
          
          .error.active {
            padding: 0.3em;
          }

          #thumbsup {

              font-weight: bold;
              text-align: center;
              font-size: 25px;
          }